<html>
    <head>
        <title>Random Trait Generator</title>

        <!-- Link CSS with HTML document -->
        <link type="text/css" rel="stylesheet" href="../static/css/main.css" />

        <!-- Link JavaScript with HTML document -->
        <script async src="../static/js/main.js"></script>
    </head>
    <body>
        <section id="navsection">
            <ul>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#generate">Generate</a></li>
              <li><a href="#about">About</a></li>
            </ul>
        </section>
        <section id="content">
          <h1>Random Trait Generator</h1>
          <h2>For Sims 4</h2>
          <section id="form">
              <form id="trait_form">
                  <h3>Please select:</h3>

                  <label for="nature">Nature:</label>
                  <div id="nature">

                      <label for="nature_random">Random</label>
                      <input id="nature_random" type="radio" checked/>

                      <label for="nature_good">Positive</label>
                      <input id="nature_good" type="radio" />

                      <label for="nature_neutral">Neutral</label>
                      <input id="nature_neutral" type="radio" />

                      <label for="nature_bad">Negative</label>
                      <input id="nature_bad" type="radio" />

                  </div>

                  <label for="category">Category:</label>
                  <select id="category">
                      <option>Random</option>
                      <option>Social</option>
                      <option>Lifestyle</option>
                      <option>Hobby</option>
                      <option>Emotional</option>
                  </select>

                  <input id="submit" type="submit" value="Generate" action="javascript:void(0)" />
              </form>
          </section>

          <section id="output">
              <label id="generated_trait">TRAIT</label>
          </section>
      </section>
    </body>
</html>
