/*
  tag {

  }

  #id {

  }

  .class {

  }

  tag:property {
    (A property could be 'hover' for example)
  }
*/

* {
  /* Use sans serif font throughout site */
  font-family: sans-serif;

  /* Remove any browser-CSS provided margins/padding */
  margin:0;
  padding:0;
}

html {
  
}

#navsection {
  width: 20%;
}

#content {
  margin-left: 20%;
  padding: 1%;
}

h1 {

  color: #000000;
  padding-left: 0%;
  padding-top: 3%;
  padding-bottom: 3%;
}

h2 {
  padding-left: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

h3 {
  padding-left: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

#nature {
  padding-left: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

#category {
  margin-left: 0;
}

#submit {
  margin-left: 10%;
}

#output {
  margin-top: 3%;
  margin-left: 10%;
}

#trait_form {
  color: #000000;
}

#navsection ul {

  /* Remove bullet points from uL */
  list-style-type: none;

  /* Spacing */
  width: 20%;
  height: 100%;
  position: fixed;
  overflow: auto;

  /* Colour */
  background-color: #f1f1f1;
}

#navsection ul li.active {

  /* Colour */
  background-color: #4CAF50;
  color: #ffffff;
}

#navsection ul li:hover {

  /* Colour */
  background-color: #555555;
  color: #ffffff;
}

#navsection ul li a {

  /* Spacing */
  display: block;
  padding: 8%;

  /* Colour */
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}
